.w-card{
    margin-right: 10px;
    padding: 7.5px;
    /* border: 1px solid #5b006d; вроді так краще без*/
    text-align: center;
    /* background-color: #e69419; вроді градіенту це не потрібне*/
    background: linear-gradient(to bottom, #e9f172 10%, #e7f52a 36%, #e69419 100%);
    border-radius: 10px;
}

.w-card:active{
    background: linear-gradient(to bottom, #ff6f4b 10%, #e69419 36%, #ff0505 100%);
}
.card_title{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    white-space: nowrap;
}