.container{
    width: unset!important;
    max-width: 1170px!important;
}

.landing{
    height: 100vh;
}

.l-body{
    padding: 200px 0 100px 0;
}

.autocomplete-seach_wrap{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 750px;
    margin: 0 auto;
    border-radius: 10px;
}

.c-search_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar{
    width: 100%;
    padding: 8px 10px 8px 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
}

.search-bar:focus{
    outline: none;
}

.search-icon{
    position: absolute;
    z-index: 2;
    left: 15px;
    color: #9b9b9b;
}

.dropdown-list {
    list-style: none;
    padding-left: 50px;
}

.dropdown-list::before{
    content: "";
}

.list-item{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }