.container{
    width: unset!important;
    max-width: 1170px!important;
}

.landing{
    height: 100vh;
}

.l-body{
    padding: 200px 0 100px 0;
}

.c-search_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-list {
    list-style: none;
    padding-left: 250px;
   
}

.input-group{
    width: 750px!important;
}
