.weather {
    height: 100vh;
} 

.w-body{
    background: #8e45e0;
    background: linear-gradient(to left, #d7bae4 0%, #d470dd 36%, #8e45e0 100%);
    background: url("../components/MainLayout/bg.jpg");
}

.w-body__top {
   padding-top: 10px;
   padding-bottom: 30px;
}

.w-body__bottom {
    padding: 10px 0 10px 0;
    background: rgba(0, 0, 0, 0.37);
}

.w-listItem {
    padding: 10px 0 10px 0;
}

.w-left_content {
    list-style: none;
    color: #fff;
}

.w-data_date {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.w-data {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}