@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "styles/index.css";

@font-face{
  font-family: 'IcoFont';
  src: url('fonts/icofont/icofont.css');
  font-weight: normal;
  font-style: "Regular";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to left, #9762b1 0%,#bfb3c5 36%,#d470dd 100%); */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100vh!important;
}