.weather {
    /* background: #8e45e0;
    background: linear-gradient(to left, #d7bae4 0%, #d470dd 36%, #8e45e0 100%); */
} 
.w-body{
    background: #8e45e0;
    background: linear-gradient(to left, #d7bae4 0%, #d470dd 36%, #8e45e0 100%);
}

.w-body__top{
    padding-top: 30px;
    padding-bottom: 50px;
}

.w-body__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.w-listItem{
    padding: 10px 0 10px 0;
}
  
.w-list_left_wrap{
  
}
  
.w-left_content{
    list-style: none;
    color: #fff;
}