.w-header {
    
    background-color: #7600ac;
    
}
  
.w-header_title {
    font-size: 30px;
    line-height: 30px;
}
  
.w-body{
    background: #8e45e0;
    background: linear-gradient(to left, #d7bae4 0%, #d470dd 36%, #8e45e0 100%);
}
  
.w-list_rightWrap{
    display: flex;
    justify-content: flex-end;
}
  
.w-rightPanelList{
    list-style: none;
}
  
.w-listItem{
    padding: 10px 0 10px 0;
}
  
.w-list_leftWrap{
  
}
  
.w-leftPanelList{
    list-style: none;
}

.cards-wrap{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-card{

    padding: 15px;
    border: 1px solid black;
    text-align: center;
}