.weather {
    background: #8e45e0;
    background: linear-gradient(to left, #d7bae4 0%, #d470dd 36%, #8e45e0 100%);
} 
.w-body{
    
}

.w-body__top{

}

.w-body__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.w-list_rightWrap{
    display: flex;
    justify-content: flex-end;
}
  
.w-rightPanelList{
    list-style: none;
}
  
.w-listItem{
    padding: 10px 0 10px 0;
}
  
.w-list_leftWrap{
  
}
  
.w-leftPanelList{
    list-style: none;
}

.cards-wrap{
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
}